@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,400&display=swap');
//--Font
$--primary-font: 'Roboto', sans-serif;
$--secondary-font: 'Montserrat', sans-serif;
$--third-font: 'Poppins', sans-serif;
//--Colors
$--primary-color: #5664D1;
$--radar-color:#893ACA;
//$--primary-color:#893ACA;
$--secondary-color: rgb(107, 107, 107);
$--banned-color: #333333;
$--warning-color: #EC8E00;
$--danger-color: #F44336;
$--success-color: #4CAF50;
$--estornado-color: #19A8A8;
$--company-color: #055C8F;
//---BG-Colors
$--bg-primary-color: #F3F2F0;
//--Breackpoints
$--bpt01: 1024px;