@import '../../abstracts/variables';
@import '../../abstracts/functions';

.client-form {
  padding: 1rem;
  fieldset {
    border: 0.1rem solid $--lightgray;
    padding: 0.3rem;
  }
  &-legend {
    margin-left: 0.7rem;
    color: $--banned-color;
    font-size: 1.5rem;
  }
};
